.bg-darkpink{
    background-color: #8c8c8c;
}

.bg-pink{
    background-color: #f9f9f9;
}

.bg-purple{
    background-color: #6b6b6b;
}
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height:50px;
}

.grid-4-cols{
    padding-top: 1rem;
    margin:auto;
    display: grid;
    gap: 10px;
    grid-template-areas: "info info info other";
    /* flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start; */
}

.grid-col-3{
    grid-area: info;
}

.grid-col-1{
    grid-area: other;
}


.card{
    width: 100%;
    max-width: 50vw;
}

.small-card{
    max-width: 400px;
    padding-bottom: 1rem;
    margin:auto;
}

.big-card{
    display: flex;
    padding-bottom: 1rem;
    justify-content: right;
}

.header-card{
    padding-top: 30px;
    padding-left: 30px;
    width: 100vw;
}

.card-section p{
    font-weight: 300;
}

.about h5{
    font-weight: 400;
    margin-top: 0.5rem;
}

.carousel-item img{
    max-height: 400px;
    max-width: min(100%, 100vw);
}

.block-align-center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.no-margin{
    padding: 0;
    margin: 0;
}
#mobile-box {
    width: 360px;
    margin-bottom: 20px;

  }
  #mobile-box > .card {
    margin:auto;
  }
  
  .card {
    -webkit-border-radius: 10px;
    border-radius: 10px;
  }
  
  .card .view {
    -webkit-border-top-left-radius: 10px;
    border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .card h5 a {
    color: #0d47a1;
  }
  
  .card h5 a:hover {
    color: #072f6b;
  }
  .music_container{
    margin-bottom: 50px;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

  






@media screen and (max-width: 600px) {
    .flex-col-lt480{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .card{
        width: 90%;
        max-width: 90vw;
        height: 80%
    }


    .big-card, .small-card{
        display: flex;
        justify-content: center;
    }

    .review-user-info{
        flex-direction: column;
        justify-content: center;
    }
    .music_container{
        margin-bottom: 50px;
        margin-top: 1rem;
        margin-bottom: 3rem;
    }
    header{
        height:5%;
    }
    #mobile-box > .card {
        resize: 60%;
        margin:auto;
      }
    

}
